<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <apikeys>
        <add key="https://mobius.pkgs.visualstudio.com/_packaging/ExplorationEngineNugetFeed/nuget/v3/index.json" value="bzhy43ygy3wog6477lluj4r2a5erpvwq4afojesby7t2ygbea3xq" />
    </apikeys>
    <packageSourceCredentials>
        <ExplorationEngineNugetFeed>
            <add key="Username" value="ExplorationEngineNugetFeed" />
            <add key="ClearTextPassword" value="%NUGET_TOKEN%" />
        </ExplorationEngineNugetFeed>
    </packageSourceCredentials>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="ExplorationEngineNugetFeed" value="https://mobius.pkgs.visualstudio.com/_packaging/ExplorationEngineNugetFeed/nuget/v3/index.json" />
    </packageSources>
</configuration>